{% extends "base.html"%}
{% block content %}

<div class="wrapper">
      
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://cestina20.cz/slovnik/vycuc/" target="_blank"><img src="{{ url_for('static',filename='img/wycuc-black-sm.png') }}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link search-link" href="#">Hledat</a>
                    <a class="nav-link" href="#">     </a>
                    <a class="nav-link about-link" href="#">O Projektu</a>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="search">
        
        <h1>Zadejte výraz a stránka najde shrnutí (první odstavec) tohoto výrazu na Wikipedii.</h1>
            
        <form class="search-form" action="" method="get">
          <input name="searchWiki" id="inp" type="text" placeholder="Zadejte hledaný výraz">
          <button id="vycuc" type="submit" class="btn btn-outline-warning">Vycucnout</button>
      </form>
    </div>
  
    <div class="second">
        
    </div>
    <div class="about">
        <h1>O co jde?</h1><br>
        <p>Projekt vznikl jako nápad v návaznosti na úkol, který jsem dostal při (neúspěšném) pohovoru na pozici vývojáře.
            Zadáním bylo vytvořit program v pythonu do příkazové řádky, který po zadání slova vytáhne z wikipedie souhr (první sekci) tohoto výrazu.
            Program se mi podařilo udělat, ale projevil se nedostatek zkušeností, pozici jsem tedy nedostal. <br><br>
            Nicméně dalo mi to motivaci na něm pracovat dále a jelikož jsem se zrovna učil s Javascriptem, rozhodl jsem se jej předělat do webové aplikace.
            Proto jsem původní program předělal na API a vytvořil frontend. <br><br>Výsledkem je tato jednoduchá stránka "Wýcuc".
        </p>
        <p>Odkaz na repozitář: <a href="https://github.com/DarthProVader/Wycuc" target="_blank"><img src="{{ url_for('static',filename='img/github-icon.png') }}"></a></p>
    </div>
  </div>


{% endblock %}